.offcanvas-header{
  background-color: #f00;
}

.offcanvas-header .offcanvas-title{
  color: #fff;
}

.offcanvas-header .btn-close{
filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(
323deg) brightness(101%) contrast(103%) !important;
}
/* Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.hide-scrollbar {
  scrollbar-width: none;
  

}

/* IE and Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}
.majorstyle {
  font-weight: 600 !important;
  font-size: 20px !important;
  margin: 0;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Disable global scrolling */
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}






